# Ignore everything by default
*

# Allow these top-level files/folders
!configtx.yaml
!docker-compose.yaml
!chaincode/
!chaincode/package.json
!chaincode/package-lock.json
!storage/
!storage/**/

!.gitignore

# Allow .git.lock files in all storage subdirectories
!storage/**/.git.lock