# Ignore everything by default
*

# Allow these top-level files/folders
!configtx.yaml
!docker-compose.yaml


!.gitignore


!chaincode/
chaincode/*
!chaincode/.git.lock

# Allow .git.lock files in all storage subdirectories
!storage/
!storage/**/
!storage/**/.git.lock